code {
  background: #2db34a;
  border-radius: 6px;
  color: #fff;
  display: block;
  font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
  padding: 24px 15px;
  text-align: center;
}

header,
section,
aside,
footer {
  margin: 0 1.5% 24px 1.5%;
}

footer {
  margin-bottom: 0;
}

.card {
  width: 525px;
  display: flex;
  justify-items: stretch;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  /* 5px rounded corners */
  padding-top: 5px;
  padding-bottom: 3px;
  margin-bottom: 12px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


.allcharts {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: stretch;
}

.container {
  display: flex;
  justify-content: space-between;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}